@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.dots-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .dot{
    width: 25px;
    height: 5px;
    margin: 15px 5px;
    border-radius: .5rem;
    background: #d6c5c580;
    cursor: pointer;
}
.dot.active{
background:#272727;
}



button{
    background: none;
    border: none;
}
button .fas{
    color: rgba(255, 255, 255, .5);
}
.btn-slide{
    position:absolute;
    top:50%;
    z-index: 10;

    height: 5.5rem;
    width: 5.5rem;
    cursor: pointer;
}
.prev{
    left:3rem;
    transform: translate(-50%, -50%);
}






.btn{
    /* background-color: white;  */
    color: white; 
    padding: 7px;
    
}

.btn:hover {
    background-color: #f44336;
    color: white;
    transform: translateY(-5px);
    transition: 0.5s;
  }




section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #1a120b; */
  background-color: rgb(0 0 0 / 40%);

  transition: 0.5s;
  z-index: 2;
}
header {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  margin-left: 30px;
}

.content .textBox h2 {
  color: #fff;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.content .textBox h2 span {
  font-size: 2em;
}

.content .textBox p {
  color: #fff;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
  flex-direction: column;
  justify-content: flex-end;
}

.content .imgBox img {
  max-width: 260px;
}



.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: flex;
  transform: translateX(-50%);
}
.thumb{
    background-color: rgb(0 0 0 / 40%);
    border-radius: 40px;
  padding: 15px;
 
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 40px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  filter: invert(1);
  margin: 5px 0;
  transform: scale(0.6);
}

/* Start Video */

.video {
  position: absolute;
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vh;
  height: 100%;
  /* background-color: rgb(0 0 0 / 40%); */

}

.video video {
    width: 50%;
}

/* .video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
  }  */
 /* .video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .video .text p {
    margin-bottom: 30px;
  }
  .video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
  } */

/* End video */
